{% load sitetree %}
    

<ul class="trbl_navBar clearfix">

    {% if not user.is_authenticated %}
    <li class="trbl_sideToggle"><a class="trbl_menu" data-toggle="modal" data-target="#myModal"><i class="glyphicon  glyphicon-user"></i></a></li>
    {% else %}
    <li class="trbl_sideToggle"><a class="trbl_menu" id="trbl_showLeftPush"><i class="glyphicon glyphicon glyphicon-align-justify"></i></a></li>
    <!--login script-->
    <script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'trbl_showLeftPush' ),
        body = document.body;

    showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
    };
    </script>
    {% endif %}
    <li class="trbl_marginLeft"></li>
    {% for item in sitetree_items %}
    <li class="{% if item.is_current %}active{% endif %}"><a class="trbl_menu" href="{% sitetree_url for item %}">{{ item.title_resolved }}</a></li> 
    {% endfor %}

</ul>
