{% load sitetree %}
    

<ul class="trbl_navBar">
    {% if not user.is_authenticated %}
    <li class="trbl_sideToggle"><a data-toggle="modal" data-target="#trbl_modal"><i class="glyphicon  glyphicon-user"></i></a></li>
    {% else %}
    <li class="trbl_sideToggle"><a id="trbl_openSlide"><i class="glyphicon  glyphicon-user"></i></a></li>
    <!--login script-->
<script>
(function() {

    var bodyEl = document.body,
        content = document.querySelector( '#trbl_contents' ),
        closebtn = document.getElementById( 'close-button' ),
        isOpen = false;

    function init() {
        initEvents();
    }

    function initEvents() {
        $(document).on( 'click', '.trbl_sideToggle' , toggleMenu );
        if( closebtn ) {
            closebtn.on( 'click', toggleMenu );
        }

        $(document).on( 'click', '#trbl_contents', function(ev) {
            var target = ev.target;
            if( isOpen && target !== openbtn ) {
                toggleMenu();
            }
        } );
    }

    function toggleMenu() {
        if( isOpen ) {
            classie.remove( bodyEl, 'show-menu' );
        }
        else {
            classie.add( bodyEl, 'show-menu' );
        }
        isOpen = !isOpen;
    }

    init();

})();
</script>
    {% endif %}

    {% for item in sitetree_items %}
    <li {% if item.is_current %}class="active"{% endif %}><a id="trbl_menu" href="{% sitetree_url for item %}">{{ item.title_resolved }}</a></li> 
    {% endfor %}
    <li id="trbl_searchFormWrapper">
        <form id="trbl_searchForm" action="{% url 'haystack_search' %}" method="get">
            <input type="text" name="q">
            <button type="submit"><i class="fa fa-fw fa-search"></i></button>
        </form>
    </li>

</ul>
