{% load avatar_tags %}


<div class="menu-wrap">
    <nav class="menu-top">
        <div class="profile">
        {% avatar request.user 50 %}
        {% with request.user.userprofile as profile %}
            <span>{{ profile.user }}</span>
            <!-- bio 추가 -->
        {% endwith %}
        <div>

        <div class="icon-list">
            <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
            <a href="#"><i class="fa fa-fw fa-bell-o"></i></a>
            <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
            <a href="#"><i class="fa fa-fw fa-comment-o"></i></a>
        </div>
    </nav>

    <nav class="menu-side">
    <a href="{% url 'account_logout' %}">logout</a>
    <a href="{% url 'userprofile:my_userprofile' %}">profile</a>
    <span>history</span>
    </nav>
</div>
