{% extends 'account/base.html' %}
{% load staticfiles %}
{% load account %}
{% load crispy_forms_tags %}

{% block content %}

<div id="trbl_accountContainer">
    {% if socialaccount.providers  %}
    <div class="trbl_social" id="trbl_socialLogin">
        {% include "account/provider_list.html" with process="login" %}
        {% include "account/login_extra.html" %}
    </div>
    {% endif %}

    <form id="trbl_accountForm" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% for field in login_form %}
            {% if field.id_for_label == 'id_remember' %}
            <div class="trbl_fieldWrapperRemember">
                {{ field.errors }}
                <label for="id_remember" class="checkbox-inline">
                {{ field }}
                &nbsp;Remember me?</label>
            </div>
            {% else %}
            <div class="trbl_fieldWrapper">
                <i class="fa fa-fw {% cycle 'fa-envelope-o' 'fa-lock'%}"></i>
                {{ field.errors }}
                {{ field }}
            </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary" id="trbl_submitButton">Sign in</button>
    </form>

    <div class="trbl_accountBottom">
        <a href="{% url 'account_reset_password' %}" rel="trbl_forgotPassword" class="trbl_linkForm forgot">Forgot password?</a><br>
        <p>Are you new? &nbsp;&nbsp;
        <a href="{% url 'account_signup' %}" rel="trbl_signUp" class="trbl_linkForm"><b>Sign up</b></a>
        </p>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    </div>

</div>


{% endblock %}
