{% extends 'account/login_base.html' %}
{% load staticfiles %}
{% load account %}
{% load crispy_forms_tags %}


{% block ajax_login %}
<form class="trbl_form active" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <h3>Login</h3>
    <div>
        {{ form|crispy }}
    <a href="{% url 'account_reset_password' %}" rel="forgot_password" class="trbl_linkForm">Forgot Password?</a>
    </div>
    
    <div class="trbl_bottom">
        <a href="{% url 'account_signup' %}" rel="register" class="trbl_linkForm">
            You don't have an account yet? Register here. </a>
        <input type="submit" class="btn btn-submit" /> 
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="clear">
    </div>
</form>
{% endblock %}
