{% extends 'account/login_base.html' %}
{% load staticfiles%}
{% load account %}

{% block extra_head %}
    {{ block.super }}
    <style>
        #trbl_accountForm p {
            font-size: 15px; 
            color: #bdc3c7;
            margin-top: 210px;
        }
    </style>
{% endblock%}

{% block content %}

<div id="trbl_accountContainer">

    <form id="trbl_accountForm" method="POST" action="{% url 'account_reset_password' %}">

        {% csrf_token %}
            <p>"Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it."</p>
        <div class="trbl_fieldWrapper">
            <i class="fa fa-fw fa-envelope"></i>
            {{ form.email }}
        </div>

        <button type="submit" class="btn btn-primary" id="trbl_submitButton">확인</button>
    </form>

    <div class="trbl_bottom">
        <p> 갑자기 기억남? &nbsp;&nbsp;<a href="{% url 'account_login' %}" rel="trbl_login" class="trbl_linkForm">Log in here</a>&nbsp;&nbsp;&nbsp;&nbsp;
        아이디 없음? &nbsp;&nbsp;<a href="{% url  'account_signup' %}" rel="trbl_signUp" class="trbl_linkForm"> Sign up here</a></p>
        <p>Please contact us if you have any trouble resetting your password.</p>
    </div>

</div>
{% endblock %}
