{% extends 'account/login_base.html' %}
{% load account %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block ajax_login %}
<div id="trbl_form_wrapper" class="trbl_form_wrapper">
    {% if socialaccount.providers  %}
        {% include "account/provider_list.html" with process="login" %}
    {% endif %}

    <form class="trbl_form active" method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}
        <h3>Register</h3>
        <div>
            {{ signup_form|crispy }}
        </div>
        <div class="trbl_bottom">
            <a href="{% url 'account_login' %}" rel="login" class="trbl_linkForm">
                You have an account already? login here.</a>
            <input type="submit" class="btn btn-submit" />
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="clear"></div>
        </div> 
    </form>

</div>
{% endblock %}
