{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load avatar_tags %}


{% block extra_head %}
{% endblock %}


{% block comment_form_content %}
{{ parent_thread }}
<script>
$(document).ready(function () {

    $('#comment_submit').click(function() {
        $.ajax({
            type: "POST",
            url: "{{ object.child_thread.get_post_url }}",
            dataType: "json",
            data: $('#trbl_commentForm').serialize(),
            success: function(data) {
                $('#trbl_commentAdded').append('<li>'+data.text+'<br>by <a href="{{ user.userprofile.get_absolute_url }}">');
                $('#trbl_commentAdded').append('{% avatar user 18 %}{{ user }}</a></li>');
            }
        });
        return false;
    });
});
</script>

    <form id="trbl_commentForm" method="POST" onsubmit="return false;">
        {% csrf_token %}
        {{ comment_form|crispy }} {# crispy form #}	
        {% buttons %}
            {# 변수 선언 로컬 영역 설정은 이렇게 하는듯 #}
            {% with "star" as icon_name %}
            {# Javascript disabling submit button after the first click, #}
            {# preventing multiple submittion from one form #}
                <button id="comment_submit" type="submit" class="btn btn-primary">
                    {% bootstrap_icon icon_name %} Submit
                </button>
            {% endwith %}
        {% endbuttons %}
    </form>
{% endblock %}
