{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block bootstrap3_extra_head %}
<!--script src={% static "ckeditor/ckeditor.js" %}>
</script-->
{% endblock %}

{% block comment_form_content %}

<form method="POST" action="{% url 'trblcomment:save_comment' content_type pk %}" class="form">
    {% csrf_token %}
    {{ comment_form|crispy }} {# crispy form #}	
    {% buttons %}
        {# 변수 선언 로컬 영역 설정은 이렇게 하는듯 #}
        {% with "star" as icon_name %}
        {# Javascript disabling submit button after the first click, #}
        {# preventing multiple submittion from one form #}
            <button type="submit" class="btn btn-primary"
                onclick="this.disabled=true;this.innerHTML='Sending, please wait ...';this.form.submit();" >
                {% bootstrap_icon icon_name %} Submit
            </button>
        {% endwith %}
    {% endbuttons %}
</form>

<!--script>
    CKEDITOR.replace("body", {customConfig :  "{% static 'ckeditor/trblcms_config.js' %}" });
</script-->
{% endblock %}
