{% load bootstrap3 %}
{% load avatar_tags %}

{% block comments_content %}
    <ul>
        <div id="trbl_comment_loaded">
            {% for comment in comments %}
            <li>
                {{ comment.text }}
                <br>
                by <a href="{{ comment.user.userprofile.get_absolute_url }}">
                    {% avatar comment.user 18 %}
                    {{ comment.user }}</a>
                at {{ comment.modified_at|date }}
            </li>
            {% endfor %}
        </div>
        <div id="trbl_comment_added">
        </div>
    </ul>
{% endblock %}
