{% extends 'base.html' %}

{% load bootstrap3 %}
{% load account %}
{% load socialaccount %}
{% load avatar_tags %}

{% block title %}
    My Profile
{% endblock %}

{% block content %}
<ul>
    <li> {{ user_profile.user }} </li>
    <li> {{ user_profile.bio }} </li>
    <li> {{ user_profile.dob|date }} </li>
    <li> {{ user_profile.gender }} </li>
    <li> {{ user_profile.website }} </li>
    <li><a href="{% url 'avatar_change' %}">{% avatar user_profile.user %}</a></li>
    <li><a href="{% url 'userprofile:edit_userprofile' %}">edit</a></li>

</ul>
{% endblock %}
