{% extends 'base.html' %}

{% load bootstrap3 %}
{% load account %}
{% load socialaccount %}
{% load avatar_tags %}

{% block extra_head %}
<style>
#realhr > hr  {
    margin          :   0;
    padding         :   0;
    border-bottom   :   1px   solid black;
}
</style>
{% endblock %}

{% block title %}
    User Profile Detail
{% endblock %}

{% block content %}
<div>
{% avatar object.user %}
<h1>{{ object.user.username }}</h1>
<h2>{{ object.bio|safe }}</h2>
<ul>
    <li>{{ object.dob|date }}</li>
    <li>{{ object.gender }}</li>
    <li>{{ object.website }}</li>
</ul>
</div>

<span id='realhr'><hr></span>

<div>
최근 짓거리: (5 items):
<ul>
    <li> 글 :
        <ul>
        {% for item in recent_acts.articles %}
            <li> <a href="{{ item.get_absolute_url }}">{{ item }}</a> </li>
        {% endfor %}
        </ul>
    </li>
    <li> 시퀄:
        <ul>
        {% for item in recent_acts.sequels %}
            <li> <a href="{{ item.get_absolute_url }}">{{ item }}</a> </li>
        {% endfor %}
        </ul>
    </li>
    <li> 댓글:
        <ul>
        {% for item in recent_acts.comments %}
            <li> <a href="{{ item.get_absolute_url }}">{{ item }}</a> </li>
        {% endfor %}
        </ul>
    </li>
</ul>
</div>
{% endblock %}
