{% extends 'base.html' %}

{% load bootstrap3 %}
{% load account %}
{% load socialaccount %}

{% block title %}
    Allauth Test
{% endblock %}

{% block content %}
    <ul>
    {% if user.is_authenticated %}
        You are logged in as "{% user_display user %}"
        <li> <a href="{% url 'account_logout' %}">Logout</a> </li>
    {% else %}
        <li> <a href="{% url 'account_signup' %}">Signup</a> </li>
        <li> <a href="{% url 'account_login' %}">Login</a> </li>
        <li> <a href="{% provider_login_url 'facebook' method='oauth2' %}">
            Signup/Login with Facebook</a> </li>
        <li> <a href="{% provider_login_url 'google' method='oauth2' %}">
            Signup/Login with Google</a> </li>
        <li> <a href="{% provider_login_url 'twitter' method='oauth2' %}">
            Signup/Login with Twitter</a> </li>
    {% endif %}
    </ul>
{% endblock %}
