{% extends 'base.html' %}
{% load staticfiles %}
{% load avatar_tags %}
{% load endless %}


{% block base_head %}
    {{ block.super }}
    <script src="{% static 'js/endless_pagination/endless-pagination.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".endless_page_template").endlessPaginate({
                paginateOnScroll: true,
            });
        });
    </script>
{% endblock %}

{% block content %}
<!-- category panel -->
<div class="container-fluid">
<div class="row">
    <!--main article-->
    <div class="col-md-12 trbl_topImg">
        <!-- 하드코딩 -->
        <img class="img-responsive" src="/media/design_comps/img/6669bfd8657605de98563b9f32fe67ece6d2a1e3_m.jpg" /> 
    </div> 
    
    <!--review-->
    <div class="col-md-10 endless_page_template">
        {% include page_template %}
        {% show_more %}
    </div>

    <!--tutorial-->

    <!--toon-->
    <div class="col-md-2 col-sm-2 col-xs-12 col-trbl_toon">
        <div class="col-md-12 toon">
            <img class="img-responsive" src="https://i1.ytimg.com/sh/7YFnn-JE4Zw/showposter.jpg?v=5073624b" />
        </div>
        <div class="col-md-12 toon">
            <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20110818114258/looneytunes/images/8/80/Tiny_toons_vs_batman_ad-5.jpg" />
        </div>
        <div class="col-md-12 toon">
            <img class="img-responsive" src="http://craphound.com/images/1381392_48ed_625x1000.jpg" />
        </div>
        <div class="col-md-12 toon">
            <img class="img-responsive" src="http://img3.wikia.nocookie.net/__cb20130404235352/angrybirds/images/0/0b/Toons_stella.png" />
        </div>
    </div>

</div>
</div>
{% endblock %}

{% block footer %}
{% endblock%}

{% block js %}
{% endblock %}
