{% extends 'base.html' %}
{% load staticfiles %}
{% load avatar_tags %}

{% block extra_head %}
{% endblock %}

{% block extra_header %}
{% endblock %}


{% block content %}
<a href="{% url 'trblcms:add_article' %}" hidfocus="false" class="btn">write</a>

<div class="container-fluid">

    <div class="col-md-6 col-sm-6 col-xs-12">
    {% for item in Wiki %}

        <div class="col-md-6 col-sm-12 clearfix">
            <div class= "trbl_articleTop">         
                {% if item.get_header_img.src %}
                <a href="{% url 'trblcms:article_detail' item.slug%}">
                <img class="trbl_thumbnail" src="{{ item.get_header_img.src }}" />
                </a>
                {% endif %}

                <span class="trbl_user">
                <a href="{{ item.user.userprofile.get_absolute_url }}">
                {% avatar item.user.get_username 30 %}
                </a>

                <a href="{% url 'trblcms:article_detail' item.slug %}" class="trbl_title">
                    {{ item.title }}
                </a>
                </span>

            </div>
                
                <p class="trbl_body">{{ item.get_body_string|truncatewords:10 }}</p>
                <p class="trbl_date">{{ item.created_at|date }}</p>
        </div>
    {% endfor %}
    </div>

        <!-- gallery --> 
    <div class="col-md-6 col-sm-6 col-xs-12 trbl_gallery">  
    {% for item in Gallery %}

        <div class="col-md-6 col-sm-12">
        <div class="trbl_wrapper">

            <div class="trbl_articleTop">
                {% if item.get_header_img.src %}
                <a href="{% url 'trblcms:article_detail' item.slug%}">
                <img class="trbl_thumbnail" src="{{ item.get_header_img.src }}" />
                </a> {% endif %}

                <span class="trbl_user clearfix">
                <a href="{{ item.user.userprofile.get_absolute_url }}" >
                    {% avatar item.user.get_username 30 %}
                </a>
                
                <a href="{% url 'trblcms:article_detail' item.slug %}" class="trbl_title">
                    {{ item.title }}
                </a>
                </span>
            </div>

            <p class="trbl_body">{{ item.get_body_string|truncatewords:10 }}</p>
            <p class="trbl_date">{{ item.created_at|date }}</p>
        </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_script %}
{% endblock %}
