{% extends 'base.html' %}
{% load staticfiles %}
{% load avatar_tags %}


{% block base_head %}
    {{ block.super }}
    <script src="{% static 'js/endless_pagination/endless-pagination.js' %}"></script>
    <script>
        $(document).ready(function(){
            $(".endless_page_template").endlessPaginate({
                paginateOnScroll: true
            });
        });
    </script>
{% endblock %}

{% block content %}
<!-- category panel -->
<div class="container-fluid">
<div class="row">
    <!--main article-->
    <div class="col-md-12 trbl_topImg">
        <!-- 하드코딩 -->
        <img class="img-responsive" src="/media/design_comps/img/013_252.jpg" /> 
    </div> 
    
    <!--review-->
    <div class="col-md-6 col-sm-12 endless_page_template" id="trbl_reviews">
        {% include page_template %}
    </div>
<!--tutorial-->
    <div class="col-md-4 col-sm-12 col-xs-12 trbl_tutorial">
    {% for item in Tutorials %} 

        <div class="col-md-12 col-md-6 col-xs-6">
        <div class="trbl_articleTop">
            {% if item.get_header_img.src %}
            <img class="trbl_thumbnail" href="{% url 'trblcms:article_detail' item.slug %}" 
            src="{{ item.get_header_img.src }}" />
            {% endif%}

            <div class="clearfix">
                <div class="trbl_tu"></div>
                <a href="{% url 'trblcms:article_detail' item.slug %}" class="trbl_title">{{ item.title }}</a> 
            </div> 
        </div>
            

        <div class= "trbl_articleBottom">
            <p class="trbl_body">{{ item.get_body_string|truncatewords:10 }}</p>
            <span class="trbl_user">
            <a href="{{ item.user.userprofile.get_absolute_url }}" class="trbl_userName">
                {% avatar item.user.get_username 30 %} 
                {{ item.user.get_username }}
            </a>
            </span>

            <p class="trbl_date">{{ item.created_at|date }}</p> 
        </div>
        </div>

    {% endfor%}
    </div>

<!--toon-->
    <div class="col-md-2 col-sm-2 col-xs-12 col-trbl_toon">
        <div class="col-md-12 toon">
            <img class="img-responsive" src="https://i1.ytimg.com/sh/7YFnn-JE4Zw/showposter.jpg?v=5073624b" />
        </div>
        <div class="col-md-12 toon">
            <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20110818114258/looneytunes/images/8/80/Tiny_toons_vs_batman_ad-5.jpg" />
        </div>
        <div class="col-md-12 toon">
            <img class="img-responsive" src="http://craphound.com/images/1381392_48ed_625x1000.jpg" />
        </div>
        <div class="col-md-12 toon">
            <img class="img-responsive" src="http://img3.wikia.nocookie.net/__cb20130404235352/angrybirds/images/0/0b/Toons_stella.png" />
        </div>
    </div>

</div>
</div>
{% endblock %}

{% block footer %}
{% endblock%}

{% block js %}
{% endblock %}
