{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    Hey there, Apples? 
{% endblock %}

{% block content %}
    배고프다!<br>
    Apple fritters?

    <p>
        <img src="http://overachiever.typepad.com/.a/6a00d8341ce4d453ef0167617eba5e970b-pi" alt="apple_fritters">
    </p>

    {% for image in images %}
    <p>
        <img src="{{ image }}" alt="img-{{ forloop.counter0 }}">
    </p>
    {% endfor %}

<!-- div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div -->
{% endblock %}
