{% extends 'base.html' %}

{% load bootstrap3 %}
{% load account %}
{% load socialaccount %}

{% block title %}
    My Profile
{% endblock %}

{% block content %}
<ul>
    <li> {{ user_profile.user }} </li>
    <li> {{ user_profile.bio }} </li>
    <li> {{ user_profile.dob|date }} </li>
    <li> {{ user_profile.gender }} </li>
    <li> {{ user_profile.website }} </li>
    <li> <img src="http://localhost:8000/media/{{ user_profile.image }}"> </li>
    <!-- media 는 나중에 따로 Service -->
    <li><a href="{% url 'edit_userprofile' %}">edit</a></li>

</ul>
{% endblock %}
