{% extends 'trblcms/testbase.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{# bootstrap_css #}
{# bootstrap_javascript #}

{% block title %}
    Add an article
{% endblock %}

{% block trblcms_content %}
<script src={% static "ckeditor/ckeditor.js" %}>
</script>

<form method="POST" action="{% url 'trblcms:save_article' %}" class="form">
    {% csrf_token %}
    {{ form|crispy }} {# crispy form #}	
    {% buttons %}
        <button action="action" type="button" value="Back" onclick="history.go(-1);" class="btn btn-primary">
            {% bootstrap_icon "menu-left" %} Cancel
        </button>
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>

<script>
	CKEDITOR.replace("body", {customConfig :  "{% static 'ckeditor/trblcms_config.js' %}" });
</script>
{% endblock %}
