{% extends 'root.html' %}

{# load url from future #}
{# navigation tree #}
{% load sitetree %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% load i18n %}

{% block base_head %}
    <link href="{% static 'nav.css' %}" media="all" rel="stylesheet"> 
    <link href="{% static 'tabs.css' %}" media="all" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!--snippet script, css-->
    <link href="{% static 'style.css' %}" media="all" rel="stylesheet">
    <script src="{% static 'js/general.js' %}"></script>
    <link href="{% static 'base.css' %}" media="all" rel="stylesheet">
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block header %}
    <div class="side-panel">
        {% include "navigation/slide_panel.html" %}
    </div>
    <nav>
        {% sitetree_menu from "root" include "trunk,topmeun" template "navigation/nav_top.html" %}
    </nav>
{% endblock %}

{% block root_content %}
    <!--snippet button style change-->
    {% bootstrap_messages %}

    <div class="trbl_content">
        {% block content %}(no content){% endblock %}
    </div>

    {% if 'modal_login_form' %}
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h1 style="text-align:center;margin-bottom:30px;">
                    {% trans "Sign In" %}
                </h1>
        
                {% if socialaccount.providers  %}
                <div class="socialaccount_ballot">

                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>

                    {% include "socialaccount/snippets/login_extra.html" %}

                </div>
                {% endif %}

                <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ modal_login_form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
                {% trans "Forgot Password?" %}</a>
                <div class="clearfix">
                <div class="clean">
                <button class="btn signin" type="submit"><span>{% trans "Sign In" %}</span></button>
                <button class="btn btn-red signup" href="{% url 'account_signup' %}"><span>sign up</span></button>
                </div>
                </div>
                </form>
                
            </div>
            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block modal %}
    {# 이거 되는거 맞나? #}
    {% include 'account/login_form.html'%}
{% endblock %}

{% block base_script %}
<script src="{% static 'js/classie.js' %}"></script>
{% endblock %}
