{% extends 'root.html' %}

{# load url from future #}
{# navigation tree #}
{% load sitetree %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% load i18n %}

{% block base_head %}

    <!--css-->
    <link href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}" media="screen" rel="stylesheet">
    <link href="{% static 'trblcms.css' %}" media="all" rel="stylesheet">
    <link href="{% static 'slide_panel.css' %}" media="screen" rel="stylesheet">

    <!--JS-->
    {% block extra_head %}{% endblock %}

{% endblock %}

{% block header %}
    {% include "navigation/slide_panel.html" %}
{% endblock %}

{% block root_content %}
    <!--snippet button style change-->
    {% bootstrap_messages %}
    <!--navi push container -->
    <div class="trbl_contentWrap">
    <div id="trbl_contents">
        <nav>
        {% sitetree_menu from "root" include "trunk,topmeun" template "navigation/nav_top.html" %}
        </nav>
        {% block content %}(no content){% endblock %}
    </div>
    </div>

    {% include 'account/signup.html' %} 
{% endblock %}

{% block footer %}
{% endblock %}

{% block modal %}
    {# 이거 되는거 맞나? #}
{% endblock %}

{% block base_script %}
<script src="{% static 'js/classie.js' %}"></script>

{% endblock %}
