{% extends 'root.html' %}

{# load url from future #}
{# navigation tree #}
{% load sitetree %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block base_head %}
    <link href="{% static 'navigation/css/nav.css' %}" media="all" rel="stylesheet"> 
    {% block extra_head %}
    {% endblock %}
{% endblock %}

{% block header %}
    {% sitetree_menu from "root" include "trunk,topmenu" template "navigation/nav.html" %}
{% endblock %}

{% block root_content %}
    <div>
        <button id="showLeftPush">slide</button> 
        {% bootstrap_messages %}
        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block base_script %}
<script src="{% static 'base/classie.js' %}"></script>
<script src="{% static 'navigation/js/nav.js' %}"></script>
{% endblock %}
