<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    {% bootstrap_css %}

    <script src="{% static 'js/jquery/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />    
    {% block base_head %}{% endblock %}
    <title>{% block title %}Webzine{% endblock %}</title>
</head>

<body>
    <div class="trbl_container">
    <header>
    {% block header %}{% endblock %}
    </header>
    {% block root_content %}django-bootstrap3 template content{% endblock %} 
    <footer>
    {% block footer %}{% endblock %}
    </footer>
    {% block modal %}{% endblock %}
    </div>
    {% block base_script %}{% endblock %}
    {% block js%}{% endblock %}
</body>

</html>
