{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
 <link href="{% static 'zine.css' %}" media="all" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- index panel -->
<div class="trbl_indexPanel">
    <a href="" class="trbl_R"></a>
    <p class="trbl_Tu"></P>
    <p class="trbl_T"></P>
</div>

<div class="container-fluid">
<div class="row">

<div class="col-md-6">

    <!--main article-->
    <div class="col-md-12">
        <img class="img-responsive" src="http://fc04.deviantart.net/fs70/f/2011/350/4/5/my_little_pony_fim_six_mane_wallpaper_by_bluedragonhans-d4j9n4k.png"/></div> 

    <!--review-->
    <div class="col-md-12">

        <div class="col-md-6 trbl_review">
            <div class="clearfix">
            <div class="trbl_r"></div>
            <a href="/" class="trbl_title">
            </div>
            <img class="img-responsive thm" src="http://www.joseilbo.com/gisa_img/1352216363.jpg" />
            우리집강아지가 복슬인데요?</a><p class="trbl_body">허허허허허허허허허허허허허허허헣허허허허허
        </div> 

        {% for item in Reviews %}
        <div class="col-md-6 trbl_review">
            <div class="clearfix">
            <div class="trbl_r"></div>
                <a href="{% url 'trblcms:article_detail' item.slug %}" class="trbl_title">{{ item.title }}</a> 
                <p class="trbl_body">{{ item.body|truncatewords:30|striptags }}</p>
            </div>
            <p>{{ item.created_at|date }}</p> 
        </div>
        {% endfor %}

    </div>

</div>

<!--tutorial-->
<div class="col-md-4 trbl_tutorial">
{% for item in Tutorials %} 

    <div class="col-md-12">
        <div class="clearfix">
            <div class="trbl_tu"></div>
            <a href="{% url 'trblcms:article_detail' item.slug %}" class="trbl_title">{{ item.title }}</a> 
        </div>
        <p class="trbl_body">{{ item.body|truncatewords:30|striptags }}</p>
        <p class="trbl_date">{{ item.created_at|date }}</p> 
    </div>

{% endfor%}
</div>

<!--toon-->
<div class="col-md-2">
{# toon
    {% for item in Toon %} 

        <div class="col-md-12 trbl_toon">
            <div class="clearfix">
                <div class="trbl_t"></div>
                <a href="{% url 'trblcms:article_detail' item.slug %}" class="trbl_title">{{ item.title }}</a> 
            </div>
            <p class="trbl_body">{{ item.body|truncatewords:30|striptags }}</p>
            <p class="trbl_date">{{ item.created_at|date }}</p> 
        </div>
    {% endfor%}
#}
    <div class="col-md-12 toon">
        <img class="img-responsive" src="https://i1.ytimg.com/sh/7YFnn-JE4Zw/showposter.jpg?v=5073624b" />
    </div>
    <div class="col-md-12 toon">
        <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20110818114258/looneytunes/images/8/80/Tiny_toons_vs_batman_ad-5.jpg" />
    </div>
    <div class="col-md-12 toon">
        <img class="img-responsive" src="http://craphound.com/images/1381392_48ed_625x1000.jpg" />
    </div>
    <div class="col-md-12 toon">
        <img class="img-responsive" src="http://img3.wikia.nocookie.net/__cb20130404235352/angrybirds/images/0/0b/Toons_stella.png" />
    </div>
</div>

</div>
</div>
{% endblock %}

{% block footer %}
{% endblock%}

{% block extra_script %}
{% endblock %}
