{% extends 'base.html' %}
{% load staticfiles %}
{% load avatar_tags %}

{% block extra_head %}
    <link href="{% static 'masonary.css' %}" media="all" rel="stylesheet"> 
{% endblock %}

{% block extra_header %}
{% endblock %}


{% block content %}
<a type="button" href="{% url 'trblcms:add_article' %}" class="btn"><i class="glyphicon glyphicon-pencil"></i><span>write</span></a>

<div class="trbl_categoryPanel">
    <a href="" class="trbl_panelW"></a>
    <a href="" class="trbl_panelG"></a>
</div>

<div class="container-fluid">

    <div class="col-md-6 trbl_wiki">
    {% for item in Wiki %}

        <div class="col-md-6">
        <div class="trbl_wrapper">
            
            <div class= "trbl_articleTop">         
                {% if item.get_header_img.src %}
                <a href="{% url 'trblcms:article_detail' item.slug%}">
                <img class="trbl_thumbnail" src="{{ item.get_header_img.src }}" />
                </a>
                {% endif %}

                <div class="clearfix">
                    <span class="trbl_user">
                    <a href="{{ item.user.userprofile.get_absolute_url }}">
                    {% avatar item.user.get_username 30 %}
                    </a>

                    <a href="{% url 'trblcms:article_detail' item.slug %}" class="trbl_title">
                        {{ item.title }}
                    </a>
                    </span>
                </div>

            </div>
                
            <div class="trbl_articleBottom">
                <p class="trbl_body">{{ item.body|truncatewords:30|striptags }}</p>
                <p class="trbl_date">{{ item.created_at|date }}</p>
            </div>     

        </div>
        </div>
    {% endfor %}
    </div>

        <!-- gallery --> 
    <div class="col-md-6 trbl_gallery">  
    {% for item in Gallery %}

        <div class="col-md-6">
        <div class="trbl_wrapper">
            <div class="trbl_articleTop">
                {% if item.get_header_img.src %}
                <a href="{% url 'trblcms:article_detail' item.slug%}">
                <img class="trbl_thumbnail" src="{{ item.get_header_img.src }}" />
                </a>
                {% endif %}

                <div class="clearfix">
                    <span class="trbl_user">
                    <a href="{{ item.user.userprofile.get_absolute_url }}" >
                        {% avatar item.user.get_username 30 %}
                    </a>
                    
                    <a href="{% url 'trblcms:article_detail' item.slug %}" class="trbl_title">
                        {{ item.title }}
                    </a>
                    </span>
                </div>

            </div>

            <div class="trbl_articlebottom"> 
                <p class="trbl_body">{{ item.body|truncatewords:30|striptags }}</p>
                <p class="trbl_date">{{ item.created_at|date }}</p>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_script %}
{% endblock %}
