
/* login */
#myModal .modal-content {
    width: 60%;
}
#myModal li {
    display: inline;
    list-style-type: none;
}
.signin, .signup {
    width: 120px; 
    line-height:100px;
    margin-left: 25px;
}
label.control-label {
    display: none; /* login form label hide*/
}
ul.socialaccount_providers {
    margin-bottom: 15px
}
.clean {
    margin-top: 15px;
    display:inline block;
}

