/* container */
#trbl_accountContainer {
    width: 30%;
    min-width: 300px;
    text-align: center;
    border-radius: 0px;
    padding: 20px 20px;
    margin: 200px auto;
    background: rgba(0,0,0,0.25);
}
#trbl_socialLogin {
    text-align: right;
}
#trbl_socialSignup {
    text-align: right;
}
video#trbl_bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url('/media/design_comps/bgvid/polina.jpg') no-repeat;
    background-size: cover;
}


/*form*/

#trbl_accountForm {
    margin-top: 13px;
}
.trbl_fieldWrapper {
    height: 50px;
    border: 0;
    border-radius: 0px;
    margin: 4px;
    background: rgba(255,255,255,0.3);
}
.trbl_fieldWrapper:hover {
    background: rgba(255,255,255,0.6);
    -webkit-transition: all .5s ease-in-out; 
    -moz-transition: all .5s ease-in-out; 
    -ms-transition: all .5s ease-in-out; 
    transition: all .5s ease-in-out; 
    
}
#trbl_accountForm input[type='text'], 
#trbl_accountForm input[type='password'],
#trbl_accountForm input[type='email'] {
    font-size: 18px;
    color: white;
    height: 90%;
    width: 80%; 
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
}
.trbl_fieldWrapperRemember {
    color: #bdc3c7; 
    text-align: right;
    margin-right: 30px;
}
.trbl_fieldWrapper-key { display: none; }
#trbl_accountForm input::-webkit-input-placeholder {
    color: #ecf0f1; font-weight: 500; font-size: 17px; padding-left: 10px; }
#trbl_accountForm input::-moz-input-placeholder {
    color: #ecf0f1; font-weight: 500; font-size: 17px; padding-left: 10px; }
#trbl_accountForm input:-ms-input-placeholder {
    color: #ecf0f1; font-weight: 500; font-size: 17px; padding-left: 10px; }
#trbl_accountForm input:input-placeholder {
    color: #ecf0f1; font-weight: 500; font-size: 17px; padding-left: 10px; }

/* text */
#trbl_accountContainer i {
    font-size: 30px;
    color: white;
    border-radius: 0px;
    vertical-align: middle;
}
.forgot {
    text-align: left;
}

/* soical icon*/
.trbl_social #google {
    color: #black;
    margin-right: 20px;
}
.trbl_social #twitter {
    color: #black;
    margin-right: 20px;
}
.trbl_social #facebook {
    color: #black;
    margin-right: 20px;
}
.trbl_social #tumblr {
    color: #black;
    margin-right: 20px;
}

/* button */
#trbl_submitButton {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    background: rgba(0,0,0,0.6);
}
