/* container */
.trbl_contentWrap {
    background: url("images/account/login.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
#trbl_accountContainer {
    width: 400px;
    text-align: center;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 120px auto;
    background: rgba(0,0,0,0.3);
}
#trbl_socialLogin {
    text-align: right;
}
#trbl_socialSignup {
    text-align: right;
}


/*form*/
.trbl_fieldWrapper {
    height: 50px;
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
    background: rgba(255,255,255,0.3);
}
.trbl_fieldWrapper:hover {
    height: 60px;
    background: rgba(255,255,255,0.6);
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out; 
    -ms-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out; 
    
}
#trbl_accountForm input[type='text'], 
#trbl_accountForm input[type='password'],
#trbl_accountForm input[type='email'] {
    font-size: 20px;
    color: white;
    height: 100%;
    width: 80%; 
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
}
.trbl_fieldWrapperRemember {
    color: #bdc3c7; 
    text-align: right;
    margin-right: 30px;
}
.trbl_fieldWrapper-key { display: none; }
#trbl_accountForm input::-webkit-input-placeholder {
    color: #ecf0f1; font-weight: 500; font-size: 17px; padding-left: 10px; }
#trbl_accountForm input::-moz-input-placeholder {
    color: #ecf0f1; font-weight: 500; font-size: 17px; padding-left: 10px; }
#trbl_accountForm input:-ms-input-placeholder {
    color: #ecf0f1; font-weight: 500; font-size: 17px; padding-left: 10px; }
#trbl_accountForm input:input-placeholder {
    color: #ecf0f1; font-weight: 500; font-size: 17px; padding-left: 10px; }

/* text */
#trbl_accountContainer i {
    font-size: 30px;
    color: white;
    border-radius: 20px;
    vertical-align: middle;
}
.forgot {
    text-align: left;
}

/* soical icon*/
.trbl_social #google {
    color: #e74c3c;
    margin-right: 20px;
}
.trbl_social #twitter {
    color: #3498db;
    margin-right: 20px;
}
.trbl_social #facebook {
    color: #2980b9;
    margin-right: 20px;
}
.trbl_social #tumblr {
    color: #9b59b6;
    margin-right: 20px;
}

/* button */
#trbl_submitButton {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
