#front_forum {
    position: 'relative';
    max-width: 100%;
    margin-left: 100px;
}
.item {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 5px;
}
.item.co1 {
    background: #2ecc71;
}    
.item p#date{
    font-size: 15px;
    color: #D1D5D8;
    padding-top: 10px;
}
.item p {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.item a > p {
    color: #e74c3c; 
    font-size: 17px;
    margin-top: 10px;
}
.item a {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}

.item img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.item a:hover, a > p:hover {
    text-decoration: none;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}



