/*container*/
.trbl_container, 
#trbl_contents {
	width: 100%;
	height: 100%;
}
.menu-wrap {
        width: 100%;
}

.trbl_siteTree{
        width: 100%;
        margin-left: 200px;
}
.trbl_side {
        width: 200px;
        float: left;
}


/* text */
.menu-wrap a {
	color: #b8b7ad;
        text-decoration: none;
}

.trbl_side a:hover,
.trbl_side a:focus {
	color: #c94e50;
}


/* side bar */
.menu-wrap {
	position: absolute;
	font-weight: 700;
	opacity: 0;
        -o-transition: opacity 0.4s ease;
        -moz-transition: opacity 0.4s ease;
	-webkit-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}
.menu-sideTop {
        width: 200px;
	line-height: 58px;
}
.menu-sideTop .toggle { text-align: center;}
#close-button {
    font-size: 30px;
}
.menu-sideTop .profile {
        width: 100%;
	display: inline-block;
	padding: 8px 10px;
	line-height: 42px;
}

.menu-sideTop .profile,
.menu-sideMiddle {
	width: 200px;
}

.menu-sideTop .profile img {
	float: left;
	margin-right: 1em;
}

.menu-sideTop .profile span {
        font-size: 20px; 
        color: wheat;
        line-height: 2;
}
.icon-list {
	display: inline-block;
	font-size: 1.25em;
}

.icon-list a {
	margin: 0 1em 0 0;
	padding: 0;
}

@media screen and (max-width: 32em) {
	.icon-list {
		padding-left: 1em;
	}
}

.menu-sideMiddle a {
	display: block;
	padding: 1.2em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.menu-sideMiddle a:first-child {
	border-top: 1px solid rgba(0,0,0,0.1);
}

/* Shown menu */
.show-menu .menu-wrap {
	opacity: 1;
}

.show-menu .trbl_contentWrap,
.show-menu .menu-button {
	-webkit-transform: translate3d(200px, 40px, 0);
	-moz-transform: translate3d(200px, 40px, 0);
	-o-transform: translate3d(200px, 40px, 0);
	-ms-transform: translate3d(200px, 40px, 0);
	transform: translate3d(200px, 40px, 0);
}



/* top navigation */
.trbl_navBar {
    top: 0;
    width: 100%;
    height: 40px;
    padding: 0;
    list-style-type: none;
    text-align: left;
    background: black;
}
.trbl_navBar > li {
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
}

    /*search*/
#trbl_searchFormWrapper {
    text-align: left;
    width: 30%; 
    padding: 2px 0 0 5px;
}

.trbl_navBar input[type="text"] {
    width: 50%;
    height: 26px;
    background: white;
    border-radius: 4px;
    border: 1px solid white;
    vertical-align: middle;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}
.trbl_navBar input[type="text"]:focus {
    color: white;
    width: 60%;
    border-radius: 4px;
    padding-left: 10px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.trbl_navBar button {
    font-size: 20px;
    color: white;
    background: none;
    border: none;
}

    /* text */
.trbl_navBar li > a {
    font-size: 15px;
    color: #ecf0f1;
    text-decoration: none;
    line-height: 2.5;
}

    /* effect */
.trbl_navBar li:hover:not(#trbl_searchFormWrapper) {
    background: #e67e22;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.trbl_navBar .active {
    background: #e74c3c;
}
