/* @main */

/* 횡 스크롤 방지코드 너어봄 
 * http://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll
 * */
html, body {
        height: 100%;
        width: 100%;
}

/* @base */
body {
    background: #373a47;
}

#trbl_contents {
    padding-top: 60px;
    position: relative;
}

.trbl_contentWrap {
        height: 100%;
	overflow-y: scroll;
        background: #FFFFFF;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-overflow-scrolling: touch;
	-moz-transition: -webkit-transform 0.3s;
	-o-overflow-scrolling: touch;
	-o-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/* Overlay */
#trbl_contents::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
}

/* navigation */
.trbl_navBar {
    top: 0;
    width: 100%;
    height: 40px;
    padding: 0;
    position: fixed;
    list-style-type: none;
    text-align: left;
    z-index: 5000; /* navigation 제일 앞에 */
    background: black;
}
.trbl_navBar > li {
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
}

    /*search*/
#trbl_searchFormWrapper {
    width: 30%; 
}

.trbl_navBar input[type="text"] {
    width: 50%;
    height: 30px;
    background: none;
    border-radius: 6px;
    border: 3px solid white;
    margin-top: 4px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.trbl_navBar input[type="text"]:focus {
    color: white;
    width: 70%;
    border-radius: 10px;
    padding-left: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.trbl_navBar button {
    font-size: 20px;
    color: white;
    background: none;
    border: none;
}

    /* text */
.trbl_navBar li > a {
    font-size: 15px;
    color: #ecf0f1;
    text-decoration: none;
    line-height: 2.5;
}
#trbl_openSlide {
    font-size: 23px;
    line-height: 1.75;
}

    /* effect */
.trbl_navBar li:hover:not(#trbl_searchFormWrapper) {
    background: #e67e22;;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.trbl_navBar .active {
    background: #e74c3c;
}


/* categoryPanel */
.trbl_categoryPanel {
    float: left;
    position: fixed; 
}
.trbl_panelR, .trbl_panelTu, .trbl_panelT, .trbl_panelW .trbl_panelG {
    display: block;
    width: 30px;
    height: 91px;
    margin: 0;
}
.trbl_panelR {background: #F1C40F;}
.trbl_panelTu {background: #2ECC71;}
.trbl_panelT {background: #9B59B6;}
.trbl_panelW {background: #9B59B6;}
.trbl_panelG {background: #9B59B6;}

    /* mark for article title */
.trbl_r, .trbl_t, .trbl_tu,{
    float: left;
    height: 23px;
    width: 23px;
    margin-top: 0px;
    margin-right: 5px;
    vertical-align: middle;
}
.trbl_r {background: #F1C40F;}
.trbl_t {background: #2ECC71;}
.trbl_tu {background:#9B59B6;}
.trbl_w {background: #3498DB;}
.trbl_g {background: #E74C3C}


/* writingpage ckeditor */
input.form_control {
    border: 1px solid red;
    box-shadow: none;
}


/* label */
.control-label > span.asteriskField {
    display: none; /* required field '*' 제거*/
}

.trbl_ckeditorForm .control-label {
    color: #fff;
    font-size: 18px;
    font-weight: 1000; 
    display: block;
    height: 40px;
} 


/* form */
.form_control {
    box-shadow: none;
    border: none;
}


/* Magazine & Forum grid */
    /* grid */
.container-fluid p { width: 100%; display: inline-block; font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trbl_forumWrapper {height: 400px;}
.trbl_articleTop {margin-bottom: 3px;}
.trbl_articleTop .clearfix {margin-top: 5px;}
.trbl_articleBottom {
    margin-bottom: 30px;
    width: 100%;
}
.trbl_review { margin: 20px 0 0 0;}
.trbl_thumbnail {float:left;}
    /* detail */
.trbl_articleTop .trbl_title {
    width: 100%;
    font-size: 18px;
}

.trbl_articleBottom p.trbl_body {overflow: auto; margin-left: 0;}
.trbl_articleTop .trbl_thumbnail {margin-bottom: 10px; max-width: 100%; min-width: 100%; max-height: 300px;}
.trbl_articleBottom .trbl_date {
    margin-top: 5px;
    text-align: right;
    font-size: 11px;
}
.trbl_articleTop .trbl_user img {vertical-align: middle;}
.trbl_articleTop .trbl_user {margin-top: 10px; height: 30px; text-align: right;}
.trbl_articleBottom .trbl_user {margin-top: 10px; height: 30px; text-align: right;}
.trbl_articleBottom .trbl_user img { vertical-align: middle;}
.trbl_articleBottom .trbl_user a { float:left; color: black; padding-left: 5px; width: 100%; height: 100%;}
/* forum */
