/* @main */

/* 횡 스크롤 방지코드 너어봄 
 * http://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll
 * */
html, body {
        height: 100%;
        width: 100%;
        overflow: hidden;
}

/* @base */
body {
    background: #373a47;
}

#trbl_contents {
    position: relative;
    padding: 30px 30px 30px 0;
}

.trbl_contentWrap {
        height: 100%;
	overflow-y: scroll;
        background: #FFFFFF;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-overflow-scrolling: touch;
	-moz-transition: -webkit-transform 0.3s;
	-o-overflow-scrolling: touch;
	-o-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/* Overlay */
#trbl_contents::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
}


/* categoryPanel */
.trbl_categoryPanel {
    float: left;
    position: fixed; 
}
.trbl_panelR, .trbl_panelTu, .trbl_panelT, .trbl_panelW .trbl_panelG {
    display: block;
    width: 30px;
    height: 91px;
    margin: 0;
}
.trbl_panelR {background: #F1C40F;}
.trbl_panelTu {background: #2ECC71;}
.trbl_panelT {background: #9B59B6;}
.trbl_panelW {background: #9B59B6;}
.trbl_panelG {background: #9B59B6;}

    /* mark for article title */
.trbl_r, .trbl_t, .trbl_tu,{
    float: left;
    height: 23px;
    width: 23px;
    margin-top: 0px;
    margin-right: 5px;
    vertical-align: middle;
}
.trbl_r {background: #F1C40F;}
.trbl_t {background: #2ECC71;}
.trbl_tu {background:#9B59B6;}
.trbl_w {background: #3498DB;}
.trbl_g {background: #E74C3C}


/* writingpage ckeditor */
input.form_control {
    border: 1px solid red;
    box-shadow: none;
}


/* label */
.control-label > span.asteriskField {
    display: none; /* required field '*' 제거*/
}

.trbl_ckeditorForm .control-label {
    color: #fff;
    font-size: 18px;
    font-weight: 1000; 
    display: block;
    height: 40px;
} 


/* form */
.form_control {
    box-shadow: none;
    border: none;
}


/* Magazine */
    /* grid */
.container-fluid p { width: 100%; display: inline-block; font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trbl_articleTop {margin-bottom: 3px;}
.trbl_articleTop .clearfix {margin-top: 5px;}
.trbl_articleBottom {
    margin-bottom: 30px;
    width: 100%;
}
.trbl_review { margin: 20px 0 0 0;}
.trbl_thumbnail {float:left;}
    /* detail */
.trbl_articleTop .trbl_title {
    width: 100%;
    font-size: 18px;
}

.trbl_articleBottom p.trbl_body {overflow: auto; margin-left: 0;}
.trbl_articleTop .trbl_thumbnail {margin-bottom: 10px; max-width: 100%; min-width: 100%; max-height: 300px;}
.trbl_articleBottom .trbl_date {
    margin-top: 5px;
    text-align: right;
    font-size: 11px;
}
.trbl_articleTop .trbl_user img {vertical-align: middle;}
.trbl_articleTop .trbl_user {margin-top: 10px; height: 30px; text-align: right;}
.trbl_articleBottom .trbl_user {margin-top: 10px; height: 30px; text-align: right;}
.trbl_articleBottom .trbl_user img { vertical-align: middle;}
.trbl_articleBottom .trbl_user a { float:left; color: black; padding-left: 5px; width: 100%; height: 100%;}


/* toggle button */
.trbl_sideToggle:not(#close-button) {
    font-size: 30px;
    z-index: 1000;
    cursor: pointer;/* clickable mobile(ios) */
    position: fixed;
}
.trbl_sideToggle:hover {
    color: red; 
}
#trbl_openSlide {
    font-size: 30px;
}

@-webkit-keyframes e1 {
    0% { font-size: 30px }
    50% { font-size: 28px; }
}
@-moz-keyframes e1 {
    0% { font-size: 30px }
    50% { font-size: 28px; }
}
@-o-keyframes e1 {
    0% { font-size: 30px; }
    50% { font-size: 28px; }
}
@-ms-keyframes e1 {
    0% { font-size: 30px; }
    50% { font-size: 28px; }
}
#trbl_openSlide {
    -webkit-animation: e1 2s ease-in-out 0 infinite;
    -moz-animation: e1 2s ease-in-out 0 infinite;
    -o-animation: e1 2s ease-in-out 0 infinite;
    animation: e1 2s ease-in-out 0 infinite;
}

/* endless icon */
.endless_container {
    text-align: center;
    font-size: 30px;
    color: #34495e;
}
