.container-fluid p { width: 100%; display: inline-block; font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p.trbl_body {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    white-space: nowrp;
}

/* title, body, date */
.trbl_title {
    float: left;
    margin-left: 5px;
    width: 90%;
    font-size: 18px;
    display: inline-block;
}
.trbl_r, .trbl_t, .trbl_tu {
    float: left;
    height: 20px;
    width: 20px;
    background: #F1C40F;
}
.trbl-r {background: #F1C40F;}
.trbl-t {background: #2ECC71;}
.trbl-tu {background:#9B59B6;}

p.trbl_date {
    font-size: 11px;
}

.trbl_tutorial {
}
.trbl_tutorial > .col-md-12 {
    margin-bottom: 30px;
} 
