{% extends 'trblcms/testbase.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load trbl_tags %}

{% block bootstrap3_extra_head %}
<script src={% static "ckeditor/ckeditor/ckeditor.js" %}>
</script>
{% endblock %}


{% block title %}
    Add a sequel
{% endblock %}

{% block trblcms_content %}
{% if pk %}
<form method="POST" action="{% url 'trblcms:update_sequel' pk %}" class="form">
{% else %}
<form method="POST" action="{% url 'trblcms:save_sequel' %}" class="form">
{% endif %}
    {% csrf_token %}
    {{ sequel_form|crispy }} {# crispy form #}	
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
{% buttons %}
<button action="action" type="button" value="Back" onclick="history.go(-1);" class="btn btn-default">
    {% bootstrap_icon "menu-left" %} Cancel
</button>
{% endbuttons %}
    <script>
        CKEDITOR.replace("description", {customConfig :  "{% static 'ckeditor/trblcms_config.js' %}" });
    </script>
{% endblock %}
