{% extends 'trblcms/testbase.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load trbl_tags %}

{# bootstrap_css #}
{# bootstrap_javascript #}

{% block extra_head %}
<script src={% static "ckeditor/ckeditor/ckeditor.js" %}>
</script>
{% endblock %}


{% block title %}
    Add an article
{% endblock %}

{% block trblcms_content %}
{% if pk %}
<form method="POST" action="{% url 'trblcms:update_article' pk %}" class="form">
{% else %}
<form method="POST" action="{% url 'trblcms:save_article' %}" class="form">
{% endif %}
    {% csrf_token %}
    {{ article_form|crispy }} {# crispy form #}	
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
{% buttons %}
<button action="action" type="button" value="Back" onclick="history.go(-1);" class="btn btn-default">
    {% bootstrap_icon "menu-left" %} Cancel
</button>
{% endbuttons %}
<script>
    CKEDITOR.replace("body", { customConfig : "{% static 'ckeditor/trblcms_config.js' %}",
            filebrowserUploadUrl : "{% url 'trblcms:ckeditor_upload' %}" });
</script>
{% endblock %}
