{% extends 'testbase.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load trbl_tags %}

{# bootstrap_css #}
{# bootstrap_javascript #}

{% block extra_head %}
<script src={% static "ckeditor/ckeditor/ckeditor.js" %}>
</script>
<script>
    $(document).ready(function(){
        // set a function that switches its states after the first
        // submission to block duplicated submission
        $("#article_form").submit(function() {
            $(this).submit(function() {
                return false;
            });
            $("#article_submit").attr("disabled", true);
            return true;
        });
    });
</script>
{% endblock %}


{% block title %}
    Add an article
{% endblock %}

{% block trblcms_content %}
    {% if pk %}
        <form method="POST" id="article_form" action="{% url 'trblcms:edit_article' pk %}" class="form">
    {% else %}
        <form method="POST" id="article_form" action="{% url 'trblcms:add_article' %}" class="form">
    {% endif %}
    {% csrf_token %}
    {{ article_form|crispy }} {# crispy form #}	
    {% buttons %}
        <button type="submit" id="article_submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
{% buttons %}
<button action="action" type="button" value="Back" onclick="history.go(-1);" class="btn btn-default">
    {% bootstrap_icon "menu-left" %} Cancel
</button>
{% endbuttons %}
<script>
    CKEDITOR.replace("body", { customConfig : "{% static 'ckeditor/trblcms_config.js' %}",
            filebrowserUploadUrl : "{% url 'trblcms:ckeditor_upload' %}" });
</script>
{% endblock %}
