{% extends 'trblcms/testbase.html' %}

{# load staticfiles #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load trbl_tags %}

{# bootstrap_css #}
{# bootstrap_javascript #}

{% block title %}
    Article detail
{% endblock %}

{% block trblcms_content %}
    {% include 'trblcms/_fb_sdk.html' %}
    {% include 'trblcms/_tw_sdk.html' %}
    {% include 'trblcms/_ggl_sdk.html' %}

    <h1>{{ object.title }}</h1>

    <p>User - {{ object.user }}</p>
    <p>Created at - {{ object.created_at|date }}</p>
    <p>Modified at - {{ object.modified_at|date }}</p>
    <p>Sequel - {{ object.sequel }}</p>
    <p>{{ object.body|safe }}</p>
    <p>Tags -
        {% for tag in object.tags.all %}
            {{ tag }} 
        {% endfor %}</p>
    {% include 'trblcms/_share_buttons.html' %}

    <p>{% buttons %}
            <a href="{% url 'trblcms:edit_article' object.id %}" type="button" class="btn btn-primary">
                {% bootstrap_icon "edit" %}[Edit]
            </a>
    {% endbuttons %}</p>
    <!-- maybe get_comment_form can take and argument? like the article's id? -->
    {% get_comment_form 'article' object.id %}
    {% get_comments 'article' object.id %}
{% endblock %}
