{% extends 'trblcms/testbase.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load trbl_tags %}
{% load avatar_tags %}

{# bootstrap_css #}
{# bootstrap_javascript #}

{% block title %}
    Articles 
{% endblock %}

{% block trblcms_content %}
<table id="table-style">
    {% for article in object_list %}
        <tr>
            <td class="col-md-5"><a href="{% url 'trblcms:article_detail' article.slug %}">
                    {{ article.title|truncatewords:10 }}</a></td>
            <td class="col-md-2"><a href="{{ article.user.userprofile.get_absolute_url }}">
                {% avatar article.user 18 %}
                {{ article.user }}</a></td>
            <td class="col-md-2">{{ article.created_at|date }}</td>
        </tr>
    {% empty %}
    <tr>
        <td>No articles yet.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block my_modal_body %}
    {% get_article_form %}
{% endblock %}

{% block my_modal_button %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    {% bootstrap_icon "pencil" %} Quick Write
</button>
{% endblock %}
