{% extends 'trblcms/testbase.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% load trbl_tags %}

{# bootstrap_css #}
{# bootstrap_javascript #}

{% block title %}
    Articles 
{% endblock %}

{% block trblcms_content %}
<ul>
    {% for article in object_list %}
        <li>{{ article.created_at|date }} - 
        <a href="{% url 'trblcms:article_detail' article.slug %}">
            {{ article.title }}</a></li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
</ul>
{% endblock %}

{% block my_modal_body %}
    {% get_article_form %}
{% endblock %}

{% block my_modal_button %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    {% bootstrap_icon "pencil" %} Quick Write
</button>
{% endblock %}
