{% extends 'base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load trbl_tags %}
{% load trblcomment_tags %}
{% load avatar_tags %}
{% load staticfiles %}

{# bootstrap_css #}
{# bootstrap_javascript #}

{% block extra_head %}
<link href="{% static 'article.css' %}" media="all" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'trblcms/_fb_sdk.html' %}
    {% include 'trblcms/_tw_sdk.html' %}
    {% include 'trblcms/_ggl_sdk.html' %}

    <div class="detail col-md-8">
        <div class="top">
        <h1>{{ object.title }}</h1>
        {% avatar object.user 40 %}
        <a href="{{ object.user.userprofile.get_absolute_url }}">{{ object.user }}</a>  
    </div>

    <div class="bdy">
        <p>Created at - {{ object.created_at|date }}</p>
        <p>Modified at - {{ object.modified_at|date }}</p>
        {% if object.sequel %}
            <p>Sequel - <a href="{{ object.sequel.get_absolute_url }}">{{ object.sequel }}</a></p>
        {% endif %}
        <p>{{ object.body|safe }}</p>
        <p>Tags -
            {% for tag in object.tags.all %}
                {{ tag }} 
            {% endfor %}</p>
        {% include 'trblcms/_share_buttons.html' %}

        {% if request.user.is_authenticated and object.user == request.user %}
        <p>{% buttons %}
                <a href="{% url 'trblcms:edit_article' object.id %}" type="button" class="btn btn-primary">
                    {% bootstrap_icon "edit" %}[Edit]
                </a>
                <a href="{% url 'trblcms:delete_article' object.id %}" type="button" class="btn btn-primary">
                    {% bootstrap_icon "remove" %}[Delete]
                </a>
        {% endbuttons %}</p>
        {% endif %}
    </div>

    <div class-"cmmnt">
        {# comment form 은 로그인한 유저만 #}
        {% if user.is_authenticated %}
            {% get_comment_form 'article' object.id %}
        {% endif %}

        {% get_comments 'article' object.id %}
    </div>

    </div>

    <div class="rcm col-md-4"></div>
{% endblock %}

{% block footer %}{% endblock %}
