{% extends 'trblcms/testbase.html' %}

{# load staticfiles #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load trbl_tags %}

{# bootstrap_css #}
{# bootstrap_javascript #}

{% block title %}
    Sequel detail
{% endblock %}

{% block trblcms_content %}
    {% include 'trblcms/_fb_sdk.html' %}
    {% include 'trblcms/_tw_sdk.html' %}
    {% include 'trblcms/_ggl_sdk.html' %}

    <h2>{{ object.title }}</h2>

    <p>User - <a href="{{ object.user.userprofile.get_absolute_url }}">
        {{ object.user }}</a></p>
    <p>Created at - {{ object.created_at|date }}</p>
    <p>{{ object.description }}</p>
    <p>{% buttons %}
        <a href="{% url 'trblcms:edit_sequel' object.id %}" type="button" class="btn btn-primary">
            {% bootstrap_icon "edit" %}[Edit]
        </a>
    {% endbuttons %}</p>
    <!-- maybe get_comment_form can take and argument? like the article's id? -->

    <hr>
    <h3>글 목록:</h3>
    <ul>
    {% for article in object.article_set.all %}
        <li>
            <a href="{{ article.get_absolute_url }}">
                {{ article.title }}
            </a> 
                - {{ article.created_at|date }}
                by <a href="{{ article.user.userprofile.get_absolute_url }}">
                {{ article.user }}</a>
        </li> 
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>

    <hr>

    {% get_comment_form 'sequel' object.id %}
    {% get_comments 'sequel' object.id %}

{% endblock %}
